encoder_checkpoints/colbertv2.0/
encoder_checkpoints/msmarco.psg.l2/
encoder_checkpoints/*.tar.gz
encoder_checkpoints/*.zip

data/MSMARCO/
data/MSMARCO_splited/
data/MSMARCO_51to58/
data/MSMARCO_51to52/
data/Vaswani/

query_embedding/

index/